@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Poppins:wght@300;400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;   
     
}
html{
       font-size: 62.5%;   
}
.header{
     position: fixed;   
    /*top: 0;
    left: 0;
    right: 0;*/
    /* background-color:rgb(10, 9, 78); */
    background-color: white;
    padding: 3rem;
    z-index: 1000;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 2rem;   
    width: 100vw;                                          
    justify-content: space-between;
}

.logo{
    float: left;
    height: 5.5rem;
    width: 16rem;
    /* background-color: aqua; */

}
.logo img{
    height: 100%;
    width: 100%;
}

.navbar{
    /* background-color: black;   */
    margin-right: 8.9rem;
    margin-bottom: 1rem;
}
.navbar ul{
    list-style: none;
    
}
.header .navbar ul li{
    float: left;
    position: relative;
}
.header .navbar ul li a{
    font-size: 1.8rem;
    color:black;
    text-decoration: none;
    display: block;
    padding: 1rem;
    transition: all 0.2s ease;
    
}
.header .navbar ul li a:hover{
    /* text-decoration: underline 2px red ; */
    background-color: rgb(123, 191, 207); 

}
.header .navbar ul li ul{
    margin-top:0.1rem;
    position: absolute;
    right: 0;
    width: 18rem;
    background-color:rgb(77, 152, 170);
    display: none;
    
    

}
.header .navbar ul li ul li a{
    font-size: 1.5rem;

}
.header .navbar ul li ul li{
    
    width: 15rem; 
    border-top: 1px solid rgba(245, 211, 211, 0.329); 
}
.header .navbar ul li:hover >   ul
{
    display: initial;
    position: absolute;
    
}
.fa-solid {
    font-size: 25px;
    color: aliceblue;
}



#toggle ,.header label{
    display: none; 
}



@media (max-width: 900px){
    .header label{
        display: initial;
    }
    .header{
        padding: 5rem;
    }
    .header .navbar{
        position: absolute;
        top:80%;
        left: 0;
        right: 0;
        /* background-color: transparent; */
        background-color:rgb(77, 152, 170); 
        display: none;  
    }
    .header .navbar ul li{
        width: 100%;
        border-top: 1px solid rgba(128, 128, 128, 0.281);

    }
    .header .navbar ul li a{
         padding: 0.8rem ;
        
    }
    .header .navbar ul li ul{
        
        position: relative; 
        width: 100rem;
        left: 0;
    }
    .header .navbar ul li ul li a{
        
        
        color: rgb(24, 24, 172);
        
    }
    
    .header .navbar ul li:hover >   ul{
        display: initial;
        position: relative;
    }
    .fa-solid {
        font-size: 25px;
        color: rgb(73, 155, 187);
        margin-left: -12rem;
        
        display: initial;
    }
    #toggle:checked ~ .navbar{
        display: block;
    }
}
   
/* -------------------------------------branding-------------------------- */
.branding_head {
    margin-top: 6.9rem;
    padding: 2rem 9rem;
    text-align: left;
    font-size: 2.5rem;
    color: rgb(216, 214, 214);
    /* background-color: rgb(18, 107, 107);   */
    background: url("pattern.jpg");
    height: 10rem;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.description_branding{
    position: relative;
    margin-top: 3rem;
    padding: 1rem 8rem;
     height:auto; 
    color: rgb(39, 39, 39);
    /* background-color: rgb(242, 250, 170);  */
    font-family: 'Montserrat', sans-serif;
    
    font-size: 2rem;
    
    width:auto; 
    font-weight: 500;
    line-height: 3.8rem;
    /* box-shadow: 2px 2px 20px 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* we are */
.branding_service_head h2{
    margin-top: 1rem;
    font-size:4rem;
    text-align: center;
     /* background-color: blueviolet;   */   
}
.branding_service_outer{
    
    padding: 0.1rem 8rem ;
     height:55rem; 
    color: black;
     /* background-color: aqua;     */
    font-family: 'Montserrat', sans-serif;
    
    font-size: 1.9rem;
    
    width:auto; 
    font-weight: 500;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.branding_left{
    /* background-color: rgb(124, 124, 179);        */
    width: 50%;
    
    line-height: 3rem;
    font-weight: 500;
    color: rgb(41, 40, 40);
     
    
    height:50rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3px;
   
}
.branding_innera{
    position: relative;
    /* background-color: blueviolet; */
    padding: 1rem;

}


.branding_image{
    /* background-color: rgb(117, 93, 139);  */
    width:50%;
    height:46rem;
    
    box-shadow: 2px 2px 20px 2px rgb(25, 27, 27);
   
}
.branding_image img{
   height: 100%;
   width: 100%;
}
/* provide1------------------------------------------------------ */
.branding_outer1{
    
    padding: 0.1rem 8rem ;
     height:55rem; 
    color: black;
    /* background-color: aqua;    */
    font-family: 'Montserrat', sans-serif;
    
    font-size: 1.9rem;
    
    width:auto; 
    font-weight: 500;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.branding_right1{
     /* background-color: rgb(124, 124, 179);         */
    width: 50%;
    
    line-height: 3rem;
    font-weight: 500;
    color: rgb(41, 40, 40);
     
    
    height:50rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3px;
   
}
.branding_inner1{
    position: relative;
    /* background-color: blueviolet;  */
    padding: 1rem;

}

.branding_image1{
    /* background-color: rgb(117, 93, 139);  */
    width:50%;
    height:47rem;
    box-shadow: 2px 2px 20px 2px rgb(25, 27, 27);
   
}
.branding_image1 img{
   height: 100%;
   width: 100%;
}

/* benefits of branding -----------------------------------------------------------------------*/
.branding_benifits_head h2{
    margin-top:8rem ;
    font-size:4rem;
    text-align: center;
    
}
.branding_outer{
 padding: 0.1rem 8rem ;
    height:auto;
    color: black;
     /* background-color: aqua;     */
    font-family: 'Montserrat', sans-serif;
        
    font-size: 1.9rem;
        
    width:auto; 
    font-weight: 500;
    grid-template-columns: repeat(2,1fr);   
    display: grid;
    gap: 25px;
}
.branding_grid{
    position: relative;
     
    text-align: center;
    
    padding: 1.5rem;
    border-radius: 5px;
    line-height: 3rem;
    box-shadow: 1px 1px 30px 1px rgb(151, 151, 151);
    transition: 0.3s;       
}
/* why choose us */

.branding_choose_head h2{
    margin-top: 8rem;
    font-size:4rem;
    text-align: center;
}

.branding_choose{
    padding: 0.1rem 8rem ;
    height:auto;
    color: black;
     /* background-color: aqua;     */
    font-family: 'Montserrat', sans-serif;
        
    font-size: 1.9rem;
        
    width:auto; 
    font-weight: 500;
    grid-template-columns: repeat(4,1fr);   
    display: grid;
    gap: 15px;
}
.branding_choose_grid{
    position: relative;
    background-color: rgb(154, 214, 218); 
    
    
    text-align: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 5px;
    line-height: 3rem;
    box-shadow: 1px 1px 5px 1px rgb(52, 85, 92);
    transition: 0.3s;
       
}
.branding_choose_grid:hover{
    background-color: rgb(38, 116, 161);
    color: white;
    
}
/* looking for a service */

.ui_looking{
    margin-top:9rem;
    padding: 0.1rem 8rem ;
    height:15rem; 
    color: black;
    background-color: rgb(245, 252, 168);    
    font-family: 'Montserrat', sans-serif;
        
    font-size: 1.9rem;
      line-height: 3rem;  
    width:auto; 
    font-weight: 500;
        
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
        
}
.ui_looking_left{
    font-size: 3.3rem;
    height: 100%;
    width:50% ;
     /* background-color: rgb(10, 19, 59);  */
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 600;
    

}
.ui_looking_right{
    
    height: 100%;
    width:50% ;
    /* background-color: rgb(143, 143, 40); */
    display: flex;
    align-items: center;
    justify-content: right;

}
#contact{
    width: 15rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    height: 5rem;
    color: white;
    background-color: rgb(61, 61, 160);
}
#contact:hover{
    background-color:rgb(63, 190, 240);
    color: black;
}




/* ------------------------------------------------------------------------- */
.sticky{
    z-index: 1000;
    height: 7rem;
    width: 6rem;
    font-size: 1.5rem;
     /* background-color: aqua;  */
    text-align: center;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky; 
    position: sticky;
    top:100px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    float: right;
    cursor: pointer;
    display: flex;
}
.sticky img{
    height: 100%;
    width: 100%;
}


/* footer */

.footergrid{
    margin-top: 1rem;
    position: relative; 
    padding: 1rem 8rem;
    
    display: grid;
    
    
    height:28rem;
    gap: 5rem;
    text-align:left;
    background-color: rgb(170, 206, 218);
    grid-template-columns: repeat(4, 1fr);  
}
.footercolumn{
    
    padding: 0.5rem 1rem;

    /* background-color: rgb(182, 157, 206);    */
    border-radius: 5px;
    line-height: 3rem;
    font-size: 1.9rem;
    color:rgb(49, 49, 49);
    
    
    
}

.footercolumn a{
    
    text-decoration: none;
    font-size: 1.9rem;
    color:rgb(49, 49, 49);
    font-weight: 500;
    
}
.footercolumn a:hover{
    
    color:rgb(51, 31, 231);
    
}
.footercolumn .fa-solid ,.fa-regular{
    color: rgb(10, 109, 116);
}
/* ----------------------------------------------------------- */

.final_outer{
    
    position: relative;
    width: auto;
    background-color: rgb(170, 206, 218); 
   
    
    height:7rem;
    display: flex;
    
    
    
}
.final_logo{
    position: absolute;
    /* background-color: rgb(233, 139, 25);  */
    height: 5.5rem;
    width: 16rem;
    left: 3rem;
    
}
.copywrite{
     /* background-color: rgb(155, 107, 48);   */
    position:absolute;
    width: 50rem;
    height: 5rem;
    color:black;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;
    right: 0rem;
    

}
.final_logo img{
    position: relative;
    width: 100%;
    height: 100%;
}

/*-------------------------------------- responsive----------------------------------- */
@media (max-width: 1040px){
    html{
        font-size: 58%;
    }
}
@media (max-width: 970px){
    html{
        font-size: 52%;
    }
}
/* ---------------------------------------------------------------------- */
@media (max-width: 1207px){
    .description_branding{
        font-size: 2rem;
        height:auto; 
        /* background-color: skyblue;  */   
    }
}
/* ------------------------header--------------------------------------- */
@media (max-width: 900px){
    .branding_head {
        margin-top: 11rem;
        font-size: 2.5rem;
    }
}
@media (max-width: 535px){
    .branding_head {
        margin-top: 11rem;
        font-size: 2.2rem;
    }
}
@media (max-width: 514px){
    .branding_head {
        margin-top: 11rem;
        font-size: 2rem;
        height: 15rem;
    }
}
/* ---------------------------------Our Application Development Services----------------------------------- */
@media (max-width: 1300px){
    .branding_service_outer{
        height:auto; 
          
    }
    .branding_outer1{
        height:auto; 
       margin-top: 3rem;  
    }
}
   
@media (max-width: 1200px){
    .branding_service_outer{
        height:auto; 
        font-size: 1.8rem; 
     
    }
    .branding_outer1{
        height:auto; 
       font-size: 1.8rem;   
    }
}
   


@media (max-width: 900px){
   
    .branding_service_outer{
        height:auto; 
        font-size: 1.8rem;
        width:auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        
    }
    .branding_left{
       /* background-color: rgb(124, 124, 179);    */
       width: 100%;
       height:auto;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 3px;
    }
      
   
    .branding_image{
    /* background-color: rgb(117, 93, 139);  */
       width:100%;
       height:auto;
    }
    .branding_outer1{
       margin-top: 4rem;
       height:auto; 
       font-size: 1.8rem; 
       width:auto; 
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 10px;  
    }

    .branding_right1{
    /* background-color: rgb(124, 124, 179);       */
       width: 100%;
       height:auto;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 3px; 
    }


    .branding_image1{
     /* background-color: rgb(117, 93, 139);  */
   
       width:100%;
       height:auto;
    }
}
@media (max-width: 800px){
    .ui_looking{
        height:auto; 
        line-height: 4rem;     
    }
}
@media (max-width: 514px){
    

    .branding_service_head h2{
        font-size:2.8rem;
    }
    .branding_benifits_head h2{
        font-size:2.8rem;
    }
    .branding_choose_head h2{
        font-size:2.8rem;  
    }
    .ui_looking_left{
        
        line-height: 4rem;  
        font-size: 2.8rem;   
    }
    
    
}
@media (max-width: 450px){
    .branding_left{
        display: grid;
        grid-template-columns: repeat(1,1fr);
         
      }

      .branding_right1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 600px){

    .branding_outer{
       grid-template-columns: repeat(1,1fr);   
    }
}
/* ----------------------------------------why choose us ----------------------------------------------*/
@media (max-width: 900px){
    .branding_choose{
       
        grid-template-columns: repeat(2,1fr);   
    }
}

@media (max-width: 600px){
    .branding_choose{
       
        grid-template-columns: repeat(1,1fr);   
    }
}


/*---------------------------------------- footer responsive-------------------------------------- */

@media (max-width:915px){

    .footergrid{
        margin-top: 1.5rem;
        position: relative; 
        padding: 1rem 8rem;
        
        display: grid;
        
        width: auto;
        height:auto;
        gap: 5rem;
        text-align:left;
        
        background-color: rgb(170, 206, 218);
        grid-template-columns: repeat(4, 1fr);  
    }
    .footercolumn{
        
        padding: 0.5rem 1rem;
        position: relative;
        /* background-color: rgb(182, 157, 206);  */
       
        line-height: 3rem;
          
    }
  
    .footercolumn .fa-solid ,.fa-regular{
        float: right;
      
    }
    
}
@media (max-width:820px){
    .footergrid{
         background-color: rgb(170, 206, 218);
        grid-template-columns: repeat(3, 1fr);  
    }

    .final_outer{
        padding-top: 2rem;
    }
}

@media (max-width:600px){
    .footergrid{
         background-color: rgb(170, 206, 218);
        grid-template-columns: repeat(2, 1fr);  
    }

    .final_outer{
    
        position: relative;
        width: auto;
        /* background-color: rgb(170, 206, 218); */
       
        
        padding:2rem;
       
        
        height:12rem;
       
        
        
    }
    .final_logo{
        position: absolute;
        /* background-color: rgb(233, 139, 25);  */
        height: 5.5rem;
        width: 16rem;
        
        
    }
    .copywrite{
        position: absolute;
        text-align: left;
        margin-top: 7rem;
        /* right:5rem; */
        margin-left: auto;
        /* background-color: blueviolet; */                      
        
        
    }
}
@media (max-width:490px){

    .footercolumn .fa-solid ,.fa-regular{
        display: none;
        
      
    }
    .footergrid{
        background-color: rgb(170, 206, 218);
       grid-template-columns: repeat(1, 1fr);  
       
   }
   .footercolumn{
    
    padding: 0.5rem 1rem;

    /* background-color: rgb(182, 157, 206);   */
    border-radius: 5px;
    line-height: 3rem;
    font-size: 1.9rem;
    color:rgb(49, 49, 49);
   }
    
   .final_outer{
   
       position: relative;
       width: auto;
       /* background-color: rgb(170, 206, 218); */
      padding-top: 2rem;
      
      height:12rem;    
   }
   .final_logo{
       position: absolute;
       /* background-color: rgb(233, 139, 25);  */
       height: 5.5rem;
       width: 16rem;
        
   }
   .copywrite{
       position: absolute;
       text-align: left;
       margin-top: 7rem;
       /* right:5rem; */
       
       /* background-color: blueviolet; */    
   }

}
@media (max-width:473px){
    .copywrite{
        position: relative;
        text-align: left;
        /* margin-top: 7rem; */
        left: 0;
        font-size: 1.3rem;   
    }
}





    
        
        
    




















